{% extends "base.html" %}
{% block main %}
<div class="container-lg mt-3">
    <h1>Сайты</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td><a href="{{ url_for('url_info', id=url.id) }}">{{ url.name }}</a></td>
                    {% if url.check_time %}
                            <td>{{ url.check_time }}</td>
                            <td>{{ url.status_code }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}